# Database
DATABASE_URL=""

# Next.js
NEXT_PUBLIC_BASE_URL=""

# Better Auth
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

# LLM API Keys
GOOGLE_GENERATIVE_AI_API_KEY=""
OPENAI_API_KEY=""

# Sentry
SENTRY_AUTH_TOKEN=""

# Polar
POLAR_ACCESS_TOKEN=""
POLAR_SUCCESS_URL=""
POLAR_SERVER="sandbox" # sandbox or production

