DATABASE_URL=

NEXT_PUBLIC_BASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:3000" # Base URL of app

GOOGLE_GENERATIVE_AI_API_KEY=

SENTRY_AUTH_TOKEN=

POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL="http://localhost:3000"
POLAR_SERVER="sandbox"
